<%- include('./partials/header.ejs') %> 
<head>
    <%- include('./partials/head.ejs') %> 
</head>
<body>
    <h1>EDIT CAT HERE!</h1>

    <form action="/catabase/<%=cat._id%>?_method=PUT" method="POST">
        <label for="name">NAME:</label>
            <input type="text" name="name" value="<%=cat.name%>">
        <label for="description">DESCRIPTION:</label>
            <input type="textarea" name="description" value="<%=cat.description%>">
        <label for="stars">Star Rating:</label>
            <input type="range" name="stars" id="" min="1" max="5">
        <label for="img">IMAGE URL:</label>
            <input type="text" name="img" value="<%=cat.img%>">
            <input type="submit" value="submit">
    </form>

    <a href="/catabase/<%=cat._id%>"><button>BACK</button></a>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>