<%- include('./partials/header.ejs') %> 
<head>
    <%- include('./partials/head.ejs') %> 
</head>
<body>
    <h1>CATABASE!</h1>
    <h2>The Online Cat Ranking System</h2>
    <div class='container'>
        <% for (let cat of catabase) { %> 
            <div class=cat>
                <a href="/catabase/<%=cat._id%>">
                    <img src="<%=cat.img %>" alt="Cat picture" width=200px>
                </a>
                <h3><%=cat.name%></h3>
            </div>
        <% } %>
    </div>
    <a href="/catabase/new">
        <button>ADD A CAT</button>
    </a>
</body>
</html>