<%- include('./partials/header.ejs') %> 
<head>
    <%- include('./partials/head.ejs') %> 
</head>
<body>
    <nav class='navbar'>
        <div class='title'>
            <h1>CATABASE!</h1>
            <h2>The Online Cat Ranking System</h2>
        </div>
        <div class='navBtn'>
            <div class='newCat'>
                <a href="/catabase/new">
                    <button class='addACat navBtn'>ADD A CAT</button>
                </a>
            </div>
            <div class='userBox'>
                <div class='users'>
                    <a href="#">
                        <button class='signUp navBtn'>SIGN UP</button>
                    </a>
                </div> 
                <div class='users'>
                    <a href="#">
                        <button class='signIn navBtn'>LOG IN</button>
                    </a>
                </div>
            </div>
        </div>

    </nav>

    <div class='container'>
        <% for (let cat of catabase) { %> 
            <div class=cat>
                <a href="/catabase/<%=cat._id%>">
                    <img src="<%=cat.img %>" alt="Cat picture" width=200px>
                </a>
                <h3><%=cat.name%></h3>
            </div>
        <% } %>
    </div>

</body>
</html>