<%- include('./partials/header.ejs') %> 
<head>
    <%- include('./partials/head.ejs') %> 
</head>
<body>
    <nav class='navbar'>
        <%- include('./partials/nav.ejs') %> 
    </nav>
    <div class='container'>
        <% for (let cat of catabase) { %> 
            <div class=cat>
                <a href="/catabase/<%=cat._id%>">
                    <img src="<%=cat.img %>" alt="Cat picture">
                </a>
                <h3><%=cat.name%></h3>
            </div>
        <% } %>
    </div>

</body>
</html>