<%- include('./partials/header.ejs') %> 
<head>
    <%- include('./partials/head.ejs') %> 
</head>
<body>
    <nav class='navbar'>
        <%- include('./partials/nav.ejs') %> 
    </nav>

    <div class='showContainer'>
        <div class=showCat>
            <img src="<%=cat.img %>" alt="Cat picture">
            <h3><%=cat.name%></h3>
            <p><%=cat.description%></p>
            <% for (let i = 1; i <= 5; i++) { %>
                <% if (cat.stars <= i) { %>
                    <span class='unfilledStar'>&star;</span>
                <% } else { %>
                    <span class='filledStar'>&starf;</span>
                <% }} %>    
            <!-- <p>Star Rating: <%= cat.stars%></p> -->
            <p>LIKES: <%=cat.likes%> &hearts;</p>
            <div id='likeBtn'>
                <% if (currentUser) { %> 
                    <% if (cat.likedBy.includes(currentUser._id) === true) { %>
                        <button class='liked'>LIKED!</button>
                    <% } else { %>
                        <form action="/catabase/<%=cat._id%>?_method=PATCH" method="POST"> 
                            <button id='like' class='like'>ADD A LIKE!</button>
                        </form>                
                    <% } %>   
                    <% } %>

            </div>
        </div>
    </div>

    <div class='showButtons'>
        <% if (currentUser) { %>
            <% if (cat.createdBy === currentUser._id) { %>
        <div class='editCat'>
            <a href="/catabase/<%=cat._id%>/edit">
                <button class='editBtn'>EDIT THIS CAT</button>
            </a>
        </div>
        <div class="deleteCat">
            <form action="/catabase/<%=cat._id%>?_method=DELETE" method="POST">
                <button class='deleteBtn'>DELETE THIS CAT</button>
        </div>
            </form>
            <% }} %>
        <div class='backBtn'>
                <a href="/catabase">
                    <button class='backBtn'>BACK TO CATS</button>
                </a>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>