<%- include('./partials/header.ejs') %> 
<head>
    <%- include('./partials/head.ejs') %> 
</head>
<body>
    <h1>CATABASE!</h1> 
    <div class='showContainer'>
        <div class=showCat>
            <img src="<%=cat.img %>" alt="Cat picture" width="600px">
            <h3><%=cat.name%></h3>
            <p><%=cat.description%></p>
            <p>Star Rating: <%=cat.stars%></p>
            <p>LIKES: <%=cat.likes%></p>
        </div>
    </div>
    <div class='buttons'>
        <a href="/catabase/<%=cat._id%>/edit">
            <button>EDIT THIS CAT</button>
        </a>
        <form action="/catabase/<%=cat._id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE THIS CAT">
        </form>

        <a href="/catabase">
            <button>Back To Index</button>
        </a>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>